@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed');
@import url('https://fonts.googleapis.com/css?family=Fauna+One');

body{
	background-color: #111;
	color: #EEE;
	font-family: 'Barlow Condensed', sans-serif;
	word-wrap: break-word;
}

* {
  /* consistent transitions for now */
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -ms-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}

#username{
	border-radius:3px;
	border-width:0px;
	padding:5px;
}

#preview{
	background-color:white;
	width:500px;
	height:600px;
	top:6%;
	border-radius:5px;
	float:right;
	margin: 20px;
}

ul{
	background-color:#444;
	list-style-type:none;
	margin:0;
	padding:0;
}

#layout{
	width:130px;
	height:600px;
	float:right;
	margin-right:10%;
}

#layoutList{
	height: 97%;
	overflow-y:auto;
	background-color: #111;
	margin-right:2px;
	padding-right:0px;
}


#layoutList li{
	background-color:#CCC;
	width: 100px;
	height: 100px;
	color: black;
	float:left;
	margin:10px;
	margin-right:2px;
}

#dropdown{
	display:none;
	position:absolute;
	border-radius: 3px;
}

#dropdown li{
	padding: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
}

#dropdown li:hover{
	background-color: #111;
}

#repositoryControl{
	position:relative;
	display:inline-block;
	width: 15em;
	left: 50px;
	opacity: 0;
}
#repositorySelect{
	border-radius: 3px;
	padding: 5px;
	background-color: white;
	color: black;
	cursor: pointer;
}

#repositoryList{
	position:absolute;
	z-index: 99;
	width: 100%;
	max-height: 10em;
	cursor: pointer;
	overflow-y: auto;
	border-radius: 0px 0px 3px 3px;
	display:none;
}

#repositoryList li{
	padding:5px;
	background-color:white;
	color:black;
}

#repositoryList li:hover {
  text-indent:10px;
  background-color:#444;
  color:white;
}

.previewNode{
	background-color: #CCC;
	color:black;
	min-width: 10px;
	min-height: 10px;
	margin: 5px;
	border-radius: 3px;
	padding: 10px;
	overflow-y: auto;
	overflow-x: hidden;
	position: relative;
}

#textEditor{
	display:none;
}
#codeGenerator{
	float:right;
	margin:20px;
}

.codeDisplay{
	width: 250px;
	height: 150px;
	background-color:#EEE;
}

#fileExplorer{
	float:right;
	top: 8%;
	margin:20px;
	width: 225px;
	height: 500px;
}

.directoryDiv{
	width: 225px;
	height: 500px;
	overflow-y: auto;
	overflow-x: hidden;
	position:absolute;

}

.directoryDiv ul li a{
	vertical-align: 50%;
	margin-left: 10px;
	text-decoration: none;
	color: white;
}

.directoryDiv ul{
	width: 100%;
	height: 480px;
	border-radius: 5px;
	padding:10px;
}

.directoryUpButton{
	position:absolute;
	top:3px;
	right:3px;
}

.languageInfo{
	position: absolute;
	right: 2px;
	bottom: 2px;
}

.readme{

}

.fileList{

}

.filenameHeader{

}

.fileContents{

}

.repoName{
	font-family: 'Fauna One', serif;
	font-size: 2em;
	text-align: center;
}

.repoDescrip{
	text-align: center;
	font-style: italic;
}

.commitCount{
	display:inline-block;
	margin-right:50px;
}

.commitCount label{
	font-weight: bold;
	font-size: 1.2em;
}

.contribution label{
	font-weight: bold;
	font-size: 1.2em;
}

.commitCount span{
	font-weight: bolder;
	font-size: 2.3em;
}

.contribution span{
	font-weight: bolder;
	font-size: 2.3em;
}



/* TEMPORARY CODE UNTIL SERVER IS FULLY IMPLEMENTED */

#n1{
	height:15%;
}

#n2{
	height:50%;
	float:left;
	width:45%;
}

#n3{
	height:50%;
	float:left;
	width:43%;
	margin
}

#n4{
	clear:both;
	height: 10%;
}

#n5{
	height:6%;
}


/* Custom Scrollbars */

/* width */
::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius:5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	border-radius:5px;
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}